
.or_content {
	padding-top: 70px;
	padding-bottom: 120px;
}
.or_content .container {
	padding-left: 50px;
	padding-right: 50px;
	background: #fff;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	border-radius: 8px;
}
.or_content .container .tit {
	margin: 30px 0 20px 5px;
}

.form_box {
	border-top: 1px solid #cdcdcd;
}

.item_box {
	margin: 35px 0;
	font-size: 16px;
	color: #666;
}

.form_box .label_lf {
	width: 195px;
	margin-right: 10px;
	text-align: right;
	font-size: 16px;
	color: #666;
}

.item_box input[type="text"],
.item_box select {
	width: 300px;
	height: 38px;
	line-height: 36px;
	border: 1px solid #cdcdcd;
}

.item_box i {
	display: inline-block;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	color: #666;
	font-size: 12px;
	border: 1px solid #666666;
}
.item_box i.active {
	border: 1px solid #ff6b26;
	color: #ff6b26;
}
.item_box label {
	font-weight: normal;
	margin: 0;
}

.or_content button,
.or_content a {
	display: block;
	width: 160px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	color: #fff;
	margin-left: 205px;
	margin-bottom: 90px;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
}