
.cart_content .top_line {
	width: 100%;
	height: 3px;
}

.top_div {
	margin-top: 50px;
	margin-bottom: 15px;
}
.top_div img {
	width: 37px;
	height: 32px;
	margin-right: 10px;
}

.cart_list {
	border-top: 2px solid #2087ed;
}
.cart_list table {
	border: 1px solid #cdcdcd;
}
.cart_list thead tr {
	background: #e8f3fd;
	height: 42px;
	line-height: 42px;
}
.cart_list thead th,
.cart_list tbody td {
	text-align: center;
}
.cart_list thead th:first-child,
.cart_list tbody td:first-child {
	text-align: left;
	padding-left: 15px; 
}
.cart_list thead th:last-child,
.cart_list tbody td:last-child {
	padding-right: 15px;
}

.cart_list thead th input {
	vertical-align: text-top;
	margin-right: 5px;
}

.cart_list tbody tr {
	height: 62px;
	line-height: 62px;
	border-bottom: 1px dashed #cdcdcd;
}

.cart_list table tr td:first-child input {
	/*vertical-align: middle;*/
}

.num_change {
	margin: auto;
	width: 96px;
	font-size: 12px;
	color: #333;
	border: 1px solid #cdcdcd;
}
.num_change i {
	display: inline-block;
	width: 21px;
	height: 25px;
	line-height: 23px;
	text-align: center;
}
.num_change i:hover {
	cursor: pointer;
}
.num_change input {
	width: 52px;
	line-height: 23px;
	text-align: center;
	font-size: 12px;
	color: #333;
	border-top: none;
	border-bottom: none;
	border-left: 1px solid #cdcdcd;
	border-right: 1px solid #cdcdcd;
}

.tfoot_box {
	width: 100%;
	height: 50px;
	margin-top: 30px;
	margin-bottom: 110px;
	background: #e8f3fd;
	border: 1px solid #cdcdcd;
	font-size: 14px;
	color: #666;
}

.tfoot_lf {
	padding-left: 15px;
}
.tfoot_lf input {
	vertical-align: text-top;
}

.tfoot_lf a {
	padding: 5px 10px;
	font-size: 12px;
	margin-left: 10px;
}
.tfoot_lf a.keep {
	background: #2087ed;
	color: #fff;
}
.tfoot_lf a.empty {
	background: #ff6b26;
	color: #fff;
}
.tfoot_lf a.delete {
	font-size: 14px;
	color: #666;
}

.tfoot_box .goclear {
	width: 145px;
	text-align: center;
	line-height: 48px;
	font-size: 16px;
	color: #fff;
}
.tfoot_box .goclear:hover {
	cursor: pointer;
}
.tfoot_box .goclear span {
	font-size: 12px;
	margin-left: 5px;
}